$filePanelIconsSize: 17px;

button{
    border: none;
    padding: 0px 5px;
}
@mixin filePanButtOnHover($boxShadowColor, $backgrColor){
    box-shadow: 1px 3px 2px $boxShadowColor;
    background-color: $backgrColor;
    // padding: 0px 15px;
    // transition: padding 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s;
}
@mixin buttonOnMouseDown(){
    box-shadow: none;
}
@mixin buttonCommonStyle{
    color: white;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
@mixin saveButton{
    background-color: rgb(3, 3, 182);
    @include buttonCommonStyle();
    &:hover{
        @include filePanButtOnHover(rgb(41, 41, 41), blue)
    }
    &:active{
        @include buttonOnMouseDown();
    }
}
@mixin downloadButton{
    background-color: rgb(20, 151, 20);
    @include buttonCommonStyle();
    &:hover{
        @include filePanButtOnHover(rgb(41, 41, 41), rgb(9, 206, 9));
    }
    &:active{
        @include buttonOnMouseDown();
    }
}
@mixin deleteButton{
    background-color: rgb(175, 2, 2);
    @include buttonCommonStyle();
    &:hover{
        @include filePanButtOnHover(rgb(41, 41, 41), red)
    }
    &:active{
        @include buttonOnMouseDown();
    }
}

@mixin openButton{
    background-color: rgb(2, 152, 172);
    @include buttonCommonStyle();
    &:hover{
        @include filePanButtOnHover(rgb(41, 41, 41),rgb(0, 192, 218))
    }
    &:active{
        @include buttonOnMouseDown();
    }
}
.file-panel-open-button-box{
    margin-left: 10px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-panel-open-button{
    color: rgb(136, 136, 136);
    font-size: 30px;
    align-self: center;
    transition-duration: 0.3s;
}

.open-file-menu-button-active{
    cursor: pointer;
    color: rgb(240, 156, 0);
}
.file-panel {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1) 0s;
    position: relative;
    &__file-box {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 0px;
        max-width: 82.5vw;
        visibility: hidden;
        border-bottom: 1px solid transparent;
    }
    &__file-box > *{
        margin-left: 10px;
    }

    &__icon {
        font-size: $filePanelIconsSize;
        margin-left: 0px;
        color: rgb(0, 0, 151);
    }

    &__file-name {
        height: 100%;
        transition: all 0.2s linear 0s;
        max-width: 50%;
        width: 33%;
        padding: 0 3px;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 21%, rgba(185,198,249,1) 81%, rgba(79,120,217,1) 95%, rgba(74,74,134,1) 100%);
        line-height: 50px;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        // text-overflow: ellipsis;
        outline: 0;
        &:focus{
            transition: all 0.2s linear 0s;
            width: 50%;
            display: inline-block;
        }
    }

    &__file-type {
        padding-left: 10px;
        display: block;
        position: relative;
        margin-left: 10px;
        text-align: center;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 15px;
            width: 1px;
            margin-top: -7.5px;
            background-color: blue;
        }
    }

    &__file-size {
        padding-left: 5px;
        display: block;
        position: relative;
        width: 82px;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 15px;
            width: 1px;
            margin-top: -7.5px;
            background-color: blue;
        }
    }

    &__save-file-as {
        border-radius: 15px;
        height: 25px;
        font-size: 12px;
        @include saveButton();

    }

    &__download-file {
        @include downloadButton();
        display: block;
        border-radius: 15px;
        height: 25px;
        font-size: 12px;
    }
    &__open-file{
        @include openButton();
        border-radius: 15px;
        height: 25px;
        font-size: 12px;
    }
    &__buttons-box{
        display: flex;
        position: absolute;
        bottom: 5px;
        right: 15px;    
    }
    &__buttons-box > *{
        margin-left: 10px
    }
    &__delete-all{
        @include deleteButton();
    }

    &__download-all {
        @include downloadButton();
    }
    &__empty-caution{
        text-align: center;
        font-size: 0px;
        font-weight: 700;
        transition-duration: 0.2s;
    }
}

.save-as {
    position: absolute;
    z-index: 101;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -225px;

    min-width: 450px;
    min-height: 200px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 5px;
    display: none;
    visibility: hidden;
    opacity: 0;
    justify-content: space-evenly;
    align-items: center;
    &__option {
        display: flex;
        justify-content: center;
        align-items: center;
        width:120px;
        height: 140px;
        padding: 3px;
        cursor: pointer;
        background-color: rgb(133, 178, 216);
        border-radius: 3px;
        transition-duration: 0.2s;
        &:hover{
            transition-duration: 0.1s;
            background-color: rgb(245, 245, 245);
            box-shadow: 2px 2px 3px 2px rgb(100, 100, 100);
            p{
                color: #6989b5;
            }
        }
    }

    &__pre-text{
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color:#6989b5;
    }
    &__text{
        
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color:  rgb(235, 235, 235);
    }
}

.open-disp-flex-op-vis{
    display: flex;
    opacity: 1;
    visibility: visible;
}
.in-progress{
    opacity: 0.5;
    pointer-events: none;
}
// .unsaved{
//     background: rgb(255,255,255);
// background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,161,161,0.3) 89%, rgba(255,1,1,0.2) 100%); 
// }
// .unsaved-text{
//     display: none;
//     margin-left: 20px;
//     font-style: italic;
//     font-size: 16px;
//     color: rgb(100, 100, 100);
// }

// .unsaved .unsaved-text{
//     display: block;
// }
.open-fp-empty-caution{
    opacity: 1;
    visibility: visible;
    font-size: 30px;
}
[contenteditable="true"].file-panel__file-name  br {
    display:none;

}
.fa-trash-alt {
    font-size: $filePanelIconsSize;
    width: 15px;
    height: 15px;
    color: red;
    cursor: pointer;
    &:hover{
        color: rgb(150, 0, 0);
    }
}
.open-file-panel{
    opacity: 1;
    margin-bottom:20px;
    padding-bottom: 60px;
    visibility: visible;
    
}
.open-file-box{
    opacity: 1;
    height: 50px;
    width: 82.5vw;
    border-bottom: 1px solid blue;
    visibility: visible;
}
